<section class="section section--featured">
        <div class="container-fluid">
          <div class="section-intro text-center">
            <h2>Featured Categories</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim
            </p>
          </div>
          <div class="row">
            {% for collection in collections %}
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="featured-card">
                      {% if collection.image %}
                        <figure>
                        <img src="{{ collection.image | image_url: width: 450, height: 450 | image_tag: collection.image.alt }}" class="img-fluid" />
                            <div class="details">
                              <h3>{{ collection.title }}</h3>
                              <a href="{{ collection.url }}" class="theme-btn theme-btn--outline theme-btn--sm">
                                Shop Now</a>
                            </div> 
                        </figure>
                              {% else %}
                                <figure>
                                  <img src="{{ 'stock.jpg' | asset_img_url |image_url: width: 450, height: 450 | image_tag: collection.image.alt }}" class="img-fluid" />
                                    <div class="details">
                                      <h3>{{ collection.title }}</h3>
                                      <a href="{{ collection.url }}" class="theme-btn theme-btn--outline theme-btn--sm">
                                        Shop Now</a>
                                    </div> 
                                </figure>
                              {% endif %} 
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </section>

{% schema %}
  {
    "name": "Collections",
    "settings": [],
    "presets": [
  {
  "name": "Collections Section",
  "category": "ADVANCED LAYOUT"
  } 
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}